<li>
    <p>
        <% if(locals.user && locals.user.id==post.user.id){%>
            <small>
                <a href="/posts/destroy/<%= post.id %>">X</a>
            </small>
            <%}%>
            
            <br>

            <small>
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                            <%= post.likes.length %> Likes
                    </a>
                <% }else{ %>
                    <%= post.likes.length %> Likes
                <% } %>
            </small>

                <%= post.content %>

    </p>
    <div id="post-comments">
        <% if(locals.user){%>
            <form action="/comments/create" method="post">
                <input type="text" name="content" placeholder="Type here to add comment...">
                <input type="hidden" name="post" value="<%= post._id %>">
                <input type="submit" value="Add comment">
            </form>
            <%} %>

                <div class="post-comments-list">
                    <ul id="post-comments<%= post._id%>">
                        <%for(comment of post.comments){ %>
                            <%- include('_comment') -%>
                                <%}%>
                    </ul>

                    </ul>
                </div>
    </div>
</li>